.header {
   display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;  
    width: 1100px;
    height: 293px;
   
    
}

.menu {
flex-direction: column;

padding-left: 50px;
padding-top: 30px;
}
.auction {
    display: flex;  
    align-items: flex-start; 
    column-gap: 60px;
    list-style-type: circle;;
}

.home {
    list-style: none;
}

.logo {
    width: 148px;
    min-height: 105px;
    padding-top: 25px;   
    width: 148px;
    height: 105px;
    margin-left: 35.52px;
    left: calc(50% - 148px/2 + 2px);
  
}

.contacts {
    max-width: 240px;
    padding-left: 5px;
    padding-top: 35px;
    justify-self:end;
    font-style: normal; 

}

.main {
   
}

.cover {
    position: relative;
    width: 1100px;
    height: 757px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cover.jpg');
    background-position:center;
    background-size: cover;
   
}
   
.title-big {
    position: absolute;
width: 1000px;
height: 385px;
}

.ono {
    
position: absolute;
width: 286px;
height: 115px;
left: 50px;
top: 165px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 115%;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #FFFFFF; 
}

.tebe {
   position: absolute;
width: 339px;
height: 115px;
left: calc(50% - 339px/2);
top: 300px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 115%;
text-align: center;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #FFFFFF 
}

.nado {
  position: absolute;
width: 387px;
height: 115px;
left: 663px;
top: 435px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 115%;
text-align: right;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #FFFFFF;   
}

.cover_text {
    position: absolute;
    color: white;
    top:82%;
    left:5%;
    font-size:22px;
    word-spacing: 15px;   
}

.description {
    position:absolute;
    width: 256px;
    left: 70%;
    top:80%;
    text-align: center;   
}

.description button {
    background-color: rgb(0, 0, 0,0);
   width: 256px;
    height: 51px;
    border-color: white;
    border-width: 1px;
    font-size: 22px;
    color: white;    
    text-transform: uppercase;
}

.lots {
    margin-top:180px;
}

.block-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

.title {
    font-size: 40px;
    width: 121px;
    min-height: 47px;
    margin-left: 40px;
}
.Frame {
    display: grid;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/card-lot-01.jpg');
    width:334px ;
    margin-top: 74px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;  
}


.title-film {
    position: relative;
    text-align:left;
    z-index: 10;
    font-size: 22px;
    padding-left: 40px;
    margin-top: 48px;
    width: 254px;
    color: white;
    font-weight: bold;
}

.link {
    color: white;
}

.text-film {
    position: absolute;
    color: white;
    font-size: 20px;
    width: 254px;
    margin-left: 40px;
    margin-top: 400px;
    line-height:120%;
    
    
}

.Frame-book {
    display: grid;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/card-lot-02.jpg');
    width:334px ;
    height: 596px;
    margin-top: 74px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}


.title-book {
    position: relative;
    text-align:left;
    padding-left: 40px;
    padding-top: 48px;
    width: 300px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height:120%;
}

.text-book {
    position: absolute;
    color: white;
    font-size: 20px;
    width: 254px;
    margin-left: 40px;
    padding-top: 34px;
    margin-top: 150px;
    line-height:120%;
}

.Frame-card {
    display: grid;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/card-lot-03.jpg');
    width:334px ;
    height: 596px;
    margin-top: 74px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}


.title-card {
    position: relative;
    text-align:left;
    padding-left: 40px;
    padding-top: 48px;
    width: 300px;
    height: 110px;
    color: white;
    font-weight: bold;
    font-size: 24px;    
}

.text-card {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 400;
    width: 254px;
    height: 264px;
    padding-top: 126px;
    margin-left: 40px;
    margin-top: 150px;
    line-height:120%;    
}

.more {
    display: flex;
    padding-top: 30px;
    padding-left: 40px;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1052px;
    margin-top: 120px;
    margin-left: 24px;
   
}
.circle {
    display: flex;
    background-color: black;
    width: 240px;
   height: 240px;
   margin-top: 35px;
   margin-left: 47px;
   border-radius: 50%;
    
}
.circle img {
   width: 148px;
   height: 114px;
   margin-top: 64px;
   margin-left: 46.48px;
}

.about-column {
   display: grid;
   margin-top: 133px;
   width: 693px;
     
}

.caption {
  font-size: 40px;
}

.description-block {
    width: 693px;
    margin-top: 100px;
    font-size: 20px;
}


.paragraph {
    width: 693px;
    height: 168px;
    font-size: 20px;
    margin-top: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    margin-top: 180px;
    width: 1150px;
    
}

.Add {
    display: flex;   
    margin-left: 15%;
    width: 163.9px;
    text-align: center;
}
.footer-menu {
    list-style: none;
    
}

.social-info {
    max-width: 264.57px;
   margin-left: 50px;
    font-style: normal; 
}

.footer-socials {
    display: flex;
    width: 240px;
    margin-left: 177px
}

.yt {
    
    width: 48px;
    height: 48px;
}
.vk {
    margin-left: 48px;
    width: 48px;
    height: 48px;
}


