.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    width: 1100px;
    height: 293px;
}

.menu{
flex-direction: column;
width: 391.48;
height: 22px;
padding-left: 50px;
padding-top: 30px;
}

.auction{
    display: flex;  
    align-items: flex-start; 
    column-gap: 60px;
    list-style-type: circle;
}

p{
    font-size: 18px;
}

.logo{
    width: 148px;
    min-height: 105px;
   padding-top: 55px;
    padding-left: 50px;  
}

.contacts{
    max-width: 240px;
    height: 80px;
    padding-left: 5px;
    padding-top: 35px;
    justify-self:end;
}

.main{
    display: contents;   
}

.cover{
    position: relative;
}
.cover img{
    display: block;
  filter: brightness(50%);
  height:720px;
}   

.O{
    position: absolute;
  top: 20%;
  left: 10%;
  color: white; 
  font-size: 100px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
  z-index: 1;
  letter-spacing:15px;
  text-transform: uppercase;
}

.T{
    position: absolute;
  top: 35%;
  left: 35%;
  color: white; 
  font-size: 100px;
  font-weight: bold;
  z-index: 1;
  letter-spacing:15px;  
  text-transform: uppercase;
}

.N{
    position: absolute;
  top: 55%;
  left: 60%;
   font-size: 100px;
  font-weight: bold;
   z-index: 1;
  color: white;
  letter-spacing:15px;   
  text-transform: uppercase;
}

.p{
    position: absolute;
    color: white;
    top:82%;
    left:5%;
    font-size:22px;
    word-spacing: 15px;   
}

.description{
    position:absolute;
    width: 256px;
    height: 51px;
    left: 70%;
    top:80%;
    text-align: center;   
}

.description button{
    background-color: rgb(0, 0, 0,0);
   width: 256px;
    height: 51px;
    border-color: white;
    border-width: 1px;
    font-size: 22px;
    color: white;    
}

.lots{
    margin-top:180px;
}

.ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.title{
    font-size: 40px;
    width: 121px;
    min-height: 47px;
    margin-left: 40px;
    text-transform: uppercase;
}
.Frame{
    display: grid;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/card-lot-01.jpg');
    width:334px ;
    height: 596px;
    margin-top: 74px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;  
}


.title-film{
    position: relative;
    text-align:left;
    z-index: 10;
    font-size: 22px;
    padding-left: 40px;
    margin-top: 48px;
    width: 254px;
    height: 82px;
    color: white;
    font-weight: bold;
}

.a{
    color: white;
}

.text-film{
    position: absolute;
    color: white;
    font-size: 20px;
    width: 254px;
    height: 144px;
    margin-left: 40px;
    margin-top: 404px;
    line-height:120%;
}

.Frame-book{
    display: grid;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/card-lot-02.jpg');
    width:334px ;
    height: 596px;
    margin-top: 74px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}


.title-book{
    position: relative;
    text-align:left;
    padding-left: 40px;
    padding-top: 48px;
    width: 75%;
    height: 110px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height:120%;
}

.text-book{
    position: absolute;
    color: white;
    font-size: 20px;
    width: 254px;
    height: 360px;
    margin-left: 40px;
    margin-top: 150px;
    line-height:120%;
}

.Frame-card{
    display: grid;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/card-lot-03.jpg');
    width:334px ;
    height: 596px;
    margin-top: 74px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}


.title-card{
    position: relative;
    text-align:left;
    padding-left: 40px;
    padding-top: 48px;
    width: 60%;
    height: 110px;
    color: white;
    font-weight: bold;
    font-size: 24px;    
}

.text-card{
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 400;
    width: 254px;
    height: 360px;
    margin-left: 40px;
    margin-top: 284px;
    line-height:120%;    
}

.more{
    display: flex;
    padding-top: 30px;
    padding-left: 40px;
    font-size: 20px;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1052px;
    height: 595px;
    margin-top: 120px;
    margin-left: 24px;
   
}
.circle{
    display: flex;
    background-color: black;
    width: 240px;
   height: 240px;
   margin-top: 35px;
   margin-left: 47px;
   border-radius: 50%;
    
}
.circle img{
   width: 148px;
   height: 114px;
   margin-top: 64px;
   margin-left: 46.48px;
}

.about-column{
   display: grid;
   margin-top: 133px;
   width: 693px;
   height: 449px;
    
}

.caption{
  font-size: 40px;
}

.description-block{
    width: 693px;
    height: 312px;
    margin-top: 100px;
    font-size: 20px;
}

.txt{
    width: 688px;
    height: 120px;
    font-size: 20px;
    
}
.paragraph{
    width: 693px;
    height: 168px;
    font-size: 20px;
    margin-top: 24px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    margin-top: 180px;
    width: 1150px;
    height: 180px;
}

.Add{
    display: flex;   
    margin-left: 15%;
    width: 163.9px;
    height: 64px; 
    text-align: center;
}

.contac{
    max-width: 264.57px;
    height: 98px;
    margin-left: 50px;
}

.ad{
    display: flex;
    width: 240px;
    height: 48px;
    margin-left: 177px
}

.yt{
    
    width: 48px;
    height: 48px;
}
.vk{
    margin-left: 48px;
    width: 48px;
    height: 48px;
}
.pin{
    margin-left: 48px;
    width: 48px;
    height: 48px;
}

