.header {
   display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;  
    width: 1100px;
      
}

.menu {
    display: flex;
flex-direction: column;
width: 420px;
margin-top: 133px;
margin-left: 50px;
margin-bottom: 138px;
height: 22px;
}
.auction {
    display: flex;  
    align-items: flex-start; 
    column-gap: 60px;
    list-style-type: circle;;
}

.home {
    list-style: none;
}
.link-home {
   text-decoration: none;
}

.logo {
    display: grid;
    width: 148px;
    min-height: 105px;
    height: 105px;
    margin-left: 35.52px;
    left: calc(50% - 148px/2 + 2px);
    justify-content: center;
  
}

.contacts {
    max-width: 220px;
    padding-left: 10px;
    padding-top: 10px;
    justify-self:end;
    font-style: normal; 

}


.cover {
    display: flex;
    width: 1100px;
    height: 757px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/cover.jpg');
    background-position:center;
    background-size:cover;
   
}
   
.title-big {
display: flex;
margin-top: 165px;
margin-left: 50px;
margin-bottom: 207px;
width: 1000px;

}


.text-align-left {
display: flex;
width: 286px;
height: 115px;
font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 115%;
letter-spacing: 0.4em;
text-transform: uppercase;
color: #FFFFFF; 
}

.text-align-center {
display: flex;
text-align: center;
margin-top:150px;
margin-bottom:130px;
width: 339px;
font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 115%;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #FFFFFF 
}

.text-align-right {
display:grid;
width: 387px;
margin-top: 280px;
margin-left: -0.4em;
font-family: Raleway, sans-serif;
text-align: justify;
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 115%;
letter-spacing: 0.3em;
text-transform: uppercase;
color: #FFFFFF;   

}

.cover_text {
    display: flex;
    margin-top: 62%;
    margin-left: -90%;
    margin-bottom: 50px;
    color: white;
    font-size:22px;
    word-spacing: 15px; 
    text-transform: uppercase;
}

.description {
    display: flex;
    width: 256px;
    margin-left: 107px;
    margin-top: 61%;
    text-align: center;   
}

.description button {
    background-color: rgb(0, 0, 0,0);
   width: 256px;
    height: 51px;
    border-color: white;
    border-width: 1px;
    font-size: 22px;
    color: white;    
    text-transform: uppercase;
}

.lots {
    margin-top:180px;
}

.block-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

.title {
    font-size: 40px;
    width: 121px;
    margin-left: 40px;
    text-transform: uppercase;
}

.Frame {
    display: grid;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/card-lot-01.jpg');
    width:334px ;
    min-height: 596px;
    margin-top: 74px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;  
}


.title-film {
    display: flex;
    z-index: 10;
    font-size: 22px;
    margin-left: 40px;
    margin-top: 48px;
    width: 254px;
    color: white;
    font-weight: bold;
}



.text-film {
    display: flex;
    color: white;
    font-size: 20px;
    width: 254px;
    height:144px;
    margin-left: 40px;
    margin-top:83%;
    line-height:120%;
    
    
    
}

.Frame-book {
    display: grid;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/card-lot-02.jpg');
    width:334px ;
    height: 596px;
    margin-top: 74px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}


.title-book {
    display: flex;
    text-align:left;
    padding-left: 40px;
    padding-top: 48px;
    width: 300px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height:120%;
}

.text-book {
    display: flex;
    color: white;
    font-size: 20px;
    width: 254px;
    margin-left: 40px;
    margin-top: 15%;
    line-height:120%;
}

.Frame-card {
    display: grid;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/card-lot-03.jpg');
    width:334px ;
    height: 596px;
    margin-top: 74px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}


.title-card {
    display: flex;
    text-align:left;
    padding-left: 40px;
    padding-top: 48px;
    width: 300px;
    color: white;
    font-weight: bold;
    font-size: 24px;    
}

.text-card {
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: 400;
    width: 254px;
    margin-left: 40px;
    margin-top: 35%;
    line-height:120%;    
}

.more {
    display: flex;
    padding-top: 30px;
    padding-left: 40px;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1052px;
    margin-top: 120px;
    margin-left: 24px;
   
}
.circle {
    display: flex;
    background-color: black;
    width: 240px;
   height: 240px;
   margin-top: 35px;
   margin-left: 47px;
   border-radius: 50%;
    
}
.circle img {
   width: 148px;
   height: 114px;
   margin-top: 64px;
   margin-left: 46.48px;
}

.about-column {
   display: grid;
   margin-top: 133px;
   width: 693px;
     
}

.caption {
  font-size: 40px;
  text-transform: uppercase;
}

.description-block {
    width: 693px;
    margin-top: 100px;
    font-size: 20px;
}


.paragraph {
    width: 693px;
    font-size: 20px;
    margin-top: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    margin-top: 180px;
    width: 1150px;
    
}

.Add {
    display: flex;   
    margin-left: 15%;
    width: 163.9px;
    text-align: center;
}
.footer-menu {
    list-style: none;
    
}

.address-block_footer {
    max-width: 264.57px;
   margin-left: 50px;
    font-style: normal; 
}

.footer-socials {
    display: flex;
    width: 240px;
    margin-left: 177px
}


.social {
    margin-right: 48px;
    width: 48px;
    height: 48px;
}


